.clickable_link{
    cursor: pointer;
    color: white;
}
.clickable_link:hover{
    color: white;
    text-decoration: none;
    opacity: 0.8;
    
}

.ad_table img {
	max-width: 50px;
	max-height: 50px;
}